In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
from itertools import combinations
print(os.listdir(r"C:\Users\ykcyc\SF\SF_unit1"))

['!Module_b4.ipynb', '.ipynb_checkpoints', 'data', 'data.csv', 'data.xlsx', 'data_sf.csv', 'data_sf.xls', 'imdb.xls', 'log.csv', 'Module_b1.ipynb', 'Module_b3.ipynb', 'movies.csv', 'movies_example.txt', 'ratings.csv', 'ratings_example.txt', 'sample.csv', 'test.0-Copy1.ipynb', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'users.csv', '[SF-DST] Movies IMBD v3.0.ipynb', '~$data.xlsx']

In [2]:
data = pd.read_csv(r'C:\Users\ykcyc\SF\SF_unit1/data.csv')
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.3+ KB

None

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
# Column with profit
data['profit'] = data.revenue - data.budget
# Column with month of release:
data['release_month'] = data['release_date'].apply(lambda x: int(x.split('/')[0])) 
# Columns with length of title in symbols and  words:
data['film_name_symb'] = data['original_title'].apply(len)
data['film_name_len'] = data['original_title'].apply(lambda x: len(list(x.split())))
# Needed to differ Warner Bros. from daughter companies. Rename to Warner Bros. Head to use 
#str.contains method without problem (realised it is not needed for sugested quizes):
data['uni_company'] = data.production_companies.apply(lambda x: \
(x.replace('Warner Bros','Head Warner Bros')).replace('Head Warner Bros. ', 'Warner Bros'))
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,film_name_symb,film_name_len,uni_company
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,...,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,6,14,2,Universal Studios|Amblin Entertainment|Legenda...
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,...,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,5,18,4,Village Roadshow Pictures|Kennedy Miller Produ...
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,...,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,3,9,1,Summit Entertainment|Mandeville Films|Red Wago...
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,...,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,12,28,5,Lucasfilm|Truenorth Productions|Bad Robot
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,...,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,4,9,2,Universal Pictures|Original Film|Media Rights ...

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
display(data[data['budget'] == data['budget'].max()]['imdb_id'])
answer_ls.append(4)

491    tt1032751
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
display(data[data['runtime'] == data['runtime'].max()]['imdb_id'])
answer_ls.append(2)

1158    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
display(data[data['runtime'] == data['runtime'].min()]['imdb_id'])
answer_ls.append(3)

769    tt1449283
Name: imdb_id, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
display(round(data.runtime.mean(),0))
answer_ls.append(2)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
display(round(data.runtime.median(),0))
answer_ls.append(1)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
display(data[data['profit'] == data['profit'].max()]['imdb_id'])
answer_ls.append(5)

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
display(data[data['profit'] == data['profit'].min()]['imdb_id'])
answer_ls.append(2)

491    tt1032751
Name: imdb_id, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
display(data[data['profit'] > 0]['imdb_id'].count())
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
data_2008 = data[data.release_year == 2008]
display(data_2008[data_2008['profit'] == data_2008['profit'].max()]['imdb_id'])
answer_ls.append(4)

600    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
data_12_14 = data[(data.release_year <= 2014)&(data.release_year >= 2012)]
display(data_12_14[data_12_14['profit'] == data_12_14['profit'].min()]['imdb_id'])
answer_ls.append(5)

1246    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
genres_split = (data['genres'].str.split('|'))
cnt = Counter()
for i in genres_split:
    for genre in i:
        cnt[genre]+= 1
        
print(cnt.most_common(1))
answer_ls.append(3)

[('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
genres_split_prof = (data[data.profit>0]['genres'].str.split('|'))
cntd = Counter()
for i in genres_split_prof:
    for genre in i:
        cntd[genre]+= 1
print(cntd.most_common(1))
cntd
answer_ls.append(1)

[('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
direct_split = (data['director'].str.split('|'))
count_dir = Counter()
for i in direct_split:
    for director in i:
        count_dir[director]+= 1
        
print(count_dir.most_common(1))


answer_ls.append(3)

[('Steven Soderbergh', 13)]

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
direct_split_prof = (data[data.profit>0]['director'].str.split('|'))
count_dir_prof = Counter()
for i in direct_split_prof:
    for director in i:
        count_dir_prof[director]+= 1
        
print(count_dir_prof.most_common(1))

answer_ls.append(4)

[('Ridley Scott', 12)]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
set_dir= set(data.director.str.split('|').sum())
#new dataframe for directors
directors_df = pd.DataFrame(set_dir, columns = ['director'])
directors_df['profit'] = list(map(lambda x: data[data.director.str.contains(x)].profit.sum(), directors_df['director']))
print(directors_df.sort_values(['profit'], ascending = False).head(1))
answer_ls.append(5)

          director      profit
844  Peter Jackson  5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
set_act= set(data.cast.str.split('|').sum())
#new dataframe for actors
actors_df = pd.DataFrame(set_act, columns = ['actor'])
actors_df['profit'] = list(map(lambda x: data[data.cast.str.contains(x)].profit.sum(), actors_df['actor']))
display(actors_df.sort_values(['profit'], ascending = False).head(1))
answer_ls.append(1)

            actor      profit
1200  Emma Watson  6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
actors_df['profit_2012'] = list(map(lambda x: data[(data.cast.str.contains(x)) \
& (data.release_year ==2012)].profit.sum(), actors_df['actor']))
display(actors_df.sort_values(['profit_2012'], ascending = True).head(1))
answer_ls.append(3)

              actor      profit  profit_2012
1772  Kirsten Dunst  1972542719    -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
actors_df['High budget film'] = list(map(lambda x: data[(data.cast.str.contains(x)) \
& (data.budget > data.budget.mean())].original_title.count(), actors_df['actor']))
display(actors_df.sort_values(['High budget film'], ascending = False).head(1))
answer_ls.append(3)

           actor      profit  profit_2012  High budget film
2667  Matt Damon  2803535866     -6861212                18

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
#new dataframe for genres
genres_df = pd.DataFrame(set(data.genres.str.split('|').sum()), columns = ['genre'])
genres_df['NCage_count'] = list(map(lambda x: data[(data.genres.str.contains(x)) \
& (data.cast.str.contains('Nicolas Cage'))].imdb_id.count(), genres_df['genre']))
display(genres_df[genres_df.NCage_count == genres_df.NCage_count.max()].genre)
answer_ls.append(2)

8    Action
Name: genre, dtype: object

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
company_df = pd.DataFrame(set(data.uni_company.str.split('|').sum()), columns = ['company'])
#company_df = company_df[~company_df.company.str.contains('Universal ')] 
# use uni_company not to mix Warner Bros. with Daughter Company
company_df['film_count'] = list(map(lambda x: \
data[data.uni_company.str.contains(x, regex = False)].imdb_id.count(), company_df['company']))
display(company_df.sort_values(['film_count'], ascending = False).head())
answer_ls.append(1)

                 company  film_count
369            Universal         185
797   Universal Pictures         175
609    Head Warner Bros.         168
992    Columbia Pictures         163
1361  Paramount Pictures         122

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
company_df['film_count_2015'] = list(map(lambda x: \
data[(data.uni_company.str.contains(x, regex = False)) & \
(data.release_year == 2015)].imdb_id.count(), company_df['company']))
display(company_df.sort_values(['film_count_2015'], ascending = False).head())
answer_ls.append(4)

                                     company  film_count  film_count_2015
609                        Head Warner Bros.         168               12
369                                Universal         185               12
797                       Universal Pictures         175               11
603                    Twentieth Century Fox         117                9
1415  Twentieth Century Fox Film Corporation         109                8

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
company_df['comedy_profit'] = list(map(lambda x: \
data[(data.uni_company.str.contains(x, regex = False)) & \
(data.genres.str.contains('Comedy'))].profit.sum(), company_df['company']))
display(company_df.sort_values(['comedy_profit'], ascending = False).head())
answer_ls.append(2)

                    company  film_count  film_count_2015  comedy_profit
369               Universal         185               12     9130349034
797      Universal Pictures         175               11     8952422726
603   Twentieth Century Fox         117                9     8239362666
1516                 Disney          93                5     8006316328
467             Walt Disney          91                5     7975933215

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
company_df['2012_profit'] = list(map(lambda x: \
data[(data.uni_company.str.contains(x, regex = False)) & \
(data.release_year == 2012)].profit.sum(), company_df['company']))
display(company_df.sort_values(['2012_profit'], ascending = False).head())
answer_ls.append(3)

,company,film_count,film_count_2015,comedy_profit,2012_profit
992,Columbia Pictures,163,7,7161805266,2501406608
369,Universal,185,12,9130349034,1981011579
797,Universal Pictures,175,11,8952422726,1981011579
603,Twentieth Century Fox,117,9,8239362666,1508921607
824,Marvel Studios,12,2,0,1299557910

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
#new df just for Paramount pictures
Paramaunt_df = data[(data.uni_company.str.contains('Paramount Pictures'))]
display(Paramaunt_df.sort_values(['profit']).head(1))
answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,film_name_symb,film_name_len,uni_company
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,...,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,7,20,3,Paramount Pictures|Intermedia Films|National G...

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
display(data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1))
answer_ls.append(5)

release_year
2015    18668572378
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
display(data[data.uni_company.str.contains('Warner Bros.')].\
groupby(['release_year'])['profit'].sum().sort_values(ascending = False))
answer_ls.append(1)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
display(data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending = False))

answer_ls.append(4)

release_month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
display(data[(data.release_month <=8) & (data.release_month>=6)].imdb_id.count())
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
directors_df['winter_film'] = list(map(lambda x: data[(data.director.str.contains(x))\
& ((data.release_month <=2) | (data.release_month==12))].imdb_id.count(), directors_df['director']))
print(directors_df.sort_values(['winter_film'], ascending = False).head(10))
answer_ls.append(5)

              director      profit  winter_film
844      Peter Jackson  5202593685            7
61      Clint Eastwood  1329766334            6
940  Steven Soderbergh  1450928588            6
659      Adam Shankman   486562773            4
789       Nancy Meyers   893677472            4
70     Martin Scorsese   802194907            4
608         Shawn Levy  1515787063            4
860    Patrick Lussier    69666456            3
461         Steve Carr   414906672            3
805         Wayne Wang   111952200            3

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
# through pivot_table
piv_prof_month = data.pivot_table(values = ['profit'],\
index = ['release_month'], columns = ['release_year'], aggfunc = sum)
piv_prof_month.max()
display(piv_prof_month.idxmax(axis = 0).value_counts().head(1))
# through groupby
display(pd.DataFrame(data.groupby(['release_year','release_month'])['profit'].sum()).\
groupby(['release_month'])['profit'].sum().sort_values(ascending = False).head(1))

answer_ls.append(2)

6    7
dtype: int64

release_month
6    27551262500
Name: profit, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
company_df['longest_title_symb'] = list(map(lambda x: \
data[data.uni_company.str.contains(x, regex = False)].film_name_symb.mean(), company_df['company']))
display(company_df.sort_values(['longest_title_symb']).tail(1))
answer_ls.append(5)

,company,film_count,film_count_2015,comedy_profit,2012_profit,longest_title_symb
680,Four By Two Productions,1,0,243572744,0,83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
company_df['longest_title_word'] = list(map(lambda x: \
data[data.uni_company.str.contains(x, regex = False)].film_name_len.mean(), company_df['company']))
display(company_df.sort_values(['longest_title_word']).tail(1))
answer_ls.append(5)

,company,film_count,film_count_2015,comedy_profit,2012_profit,longest_title_symb,longest_title_word
680,Four By Two Productions,1,0,243572744,0,83.0,12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
count_title = Counter()
for i in list(data.original_title.str.split()):
    for word in i:
        
        count_title[word.lower()]+= 1
        
print(len(list(count_title)))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
rating = data.vote_average.quantile(0.99)
ser = data[data.vote_average > rating].original_title
#display(data[data.vote_average > rating].original_title)
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
pairs = []
for cast in data.cast:
    for pair in combinations(cast.split('|'), 2):
        pairs.append(tuple(sorted(pair))) # sort not to count one pair with different order(ex. Emma Watson/Rupert Grint)
        
pair_count = Counter(pairs).most_common()
pair_df = pd.DataFrame(list(pair_count), columns = ['Pair','Film_count'])
display(pair_df.head(5))
answer_ls.append(5)

                                  Pair  Film_count
0     (Daniel Radcliffe, Rupert Grint)           8
1      (Daniel Radcliffe, Emma Watson)           8
2          (Emma Watson, Rupert Grint)           8
3           (Ben Stiller, Owen Wilson)           6
4  (Helena Bonham Carter, Johnny Depp)           6

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
directors_df['film_count'] = list(map(lambda x: data[data.director.str.contains(x)].imdb_id.count(), \
directors_df['director']))
directors_df['Profit_film_count'] = list(map(lambda x: data[(data.director.str.contains(x))\
& (data.profit > 0)].imdb_id.count(),directors_df['director']))
directors_df['Profit_film_percent'] = directors_df['Profit_film_count']/directors_df['film_count']
directors_df.sort_values(['Profit_film_percent'],ascending = False)
quiz36 = pd.DataFrame(['Quentin Tarantino',
'Steven Soderbergh',
'Robert Rodriguez',
'Christopher Nolan',
'Clint Eastwood'], columns = ['director'])
quiz36.merge(directors_df, on = 'director', how = 'left').sort_values(['Profit_film_percent'], ascending = False)
answer_ls.append(4)

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4